/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/web/cache/*
/web/css/*
/web/fonts/*
/web/js/*
/web/uploads/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/.idea/*
/composer.phar
/logs/*
web/google4318f0d8c21f0cb6.html
